asgiref==3.7.2
cloudinary==1.40.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==4.2.11
django-crispy-forms==2.2
django-messages==0.6.0
gunicorn==20.1.0
pillow==10.3.0
psycopg==3.1.19
sqlparse==0.4.4
urllib3==1.26.19
whitenoise==5.3.0
