{% extends 'base.html' %}

{% block body %}

<!-- Blog -->

<section class="section section-divider white blog" id="blog">
    <div class="container">

      <p class="section-subtitle">Latest Blog Posts</p>

      <h2 class="h2 section-title">
        This Is All About <span class="span">Foods</span>
      </h2>

      <p class="section-text">
        Explore our diverse menu, curated with passion and flavor in every dish.
      </p>

      <ul class="blog-list">

        <li>
          <div class="blog-card">

            <div class="card-banner">
              <img src="nourish/templates/assets/images/pizza-2589575_1280.jpg" width="600" height="390"
                loading="lazy" alt="What Do You Think About Cheese Pizza Recipes?" class="w-100">

              <div class="badge">Pizza</div>
            </div>

            <div class="card-content">

              <div class="card-meta-wrapper">

                <a href="#" class="card-meta-link">
                  <ion-icon name="calendar-outline"></ion-icon>

                  <time class="meta-info" datetime="2024-01-01">Jan 01 2024</time>
                </a>

                <a href="#" class="card-meta-link">
                  <ion-icon name="person-outline"></ion-icon>

                  <p class="meta-info">Esther Njoku</p>
                </a>

              </div>

              <h3 class="h3">
                <a href="#" class="card-title">What Do You Think About Cheese Pizza Recipes?</a>
              </h3>

              <p class="card-text">
                Dive into our latest blog post for culinary inspiration, behind-the-scenes insights, and delicious
                recipes to tantalize your taste buds...
              </p>

              <a href="#" class="btn-link">
                <span>Read More</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </a>

            </div>

          </div>
        </li>

        <li>
          <div class="blog-card">

            <div class="card-banner">
              <img src="nourish/templates/assets/images/chicken-2509164_1280.jpg" width="600" height="390"
                loading="lazy" alt="Making Chicken Strips With New Delicious Ingridents." class="w-100">

              <div class="badge">Burger</div>
            </div>

            <div class="card-content">

              <div class="card-meta-wrapper">

                <a href="#" class="card-meta-link">
                  <ion-icon name="calendar-outline"></ion-icon>

                  <time class="meta-info" datetime="2022-01-01">Jan 01 2022</time>
                </a>

                <a href="#" class="card-meta-link">
                  <ion-icon name="person-outline"></ion-icon>

                  <p class="meta-info">Jonathan Smith</p>
                </a>

              </div>

              <h3 class="h3">
                <a href="#" class="card-title">Making Chicken Strips With New Delicious Ingridents.</a>
              </h3>

              <p class="card-text">
                Dive into our latest blog post for culinary inspiration, behind-the-scenes insights, and delicious
                recipes to tantalize your taste buds...
              </p>

              <a href="#" class="btn-link">
                <span>Read More</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </a>

            </div>

          </div>
        </li>

        <li>
          <div class="blog-card">

            <div class="card-banner">
              <img src="nourish/templates/assets/images/restaurant-4832652_1280.jpg" width="600" height="390"
                loading="lazy" alt="Innovative Hot Chessyraw Pasta Make Creator Fact." class="w-100">

              <div class="badge">Chicken</div>
            </div>

            <div class="card-content">

              <div class="card-meta-wrapper">

                <a href="#" class="card-meta-link">
                  <ion-icon name="calendar-outline"></ion-icon>

                  <time class="meta-info" datetime="2022-01-01">Jan 01 2022</time>
                </a>

                <a href="#" class="card-meta-link">
                  <ion-icon name="person-outline"></ion-icon>

                  <p class="meta-info">David Reign</p>
                </a>

              </div>

              <h3 class="h3">
                <a href="#" class="card-title">Innovative Hot Chessyraw Pasta Make Creator Fact.</a>
              </h3>

              <p class="card-text">
                Dive into our latest blog post for culinary inspiration, behind-the-scenes insights, and delicious
                recipes to tantalize your taste buds...
              </p>

              <a href="#" class="btn-link">
                <span>Read More</span>

                <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
              </a>

            </div>

          </div>
        </li>

      </ul>

    </div>
  </section>

  {% endblock body %}