{% extends 'base.html' %}

{% block body %}

<!-- Food Menu -->

<section class="section food-menu" id="food-menu">
    <div class="container">

      <p class="section-subtitle">Popular Dishes</p>

      <h2 class="h2 section-title">
        Our Delicious <span class="span">Foods</span>
      </h2>

      <p class="section-text">
        Explore our diverse menu, curated with passion and flavor in every dish.
      </p>

      <ul class="fiter-list">

        <li>
          <button class="filter-btn  active">All</button>
        </li>

        <li>
          <button class="filter-btn">Pizza</button>
        </li>

        <li>
          <button class="filter-btn">Drinks</button>
        </li>

        <li>
          <button class="filter-btn">Burgers</button>
        </li>

        <li>
          <button class="filter-btn">Desserts</button>
        </li>

      </ul>

    {% for meal in meal_list %}
      <ul class="food-menu-list">

        <li>
          <div class="food-menu-card">
            <a href="{% url 'meals:meal_detail' meal.slug %}">{{meal.name}}</a>

            <div class="card-banner">
              <img src="nourish/templates/assets/images/salmon-518032_1280.jpg" width="300" height="300"
                loading="lazy" alt="Salmon with salad" class="w-100">

              <div class="badge">-15%</div>

              <button class="btn food-menu-btn">Order Now</button>
            </div>

            <div class="wrapper">
              <p class="category">Salads</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Salmon With Salad</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price">£13.00</data>

              <del class="del" value="29.00">£29.00</del>

            </div>

          </div>
        </li>

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="nourish/templates/assets/images/burger-5374792_1280.jpg" width="300" height="300"
                loading="lazy" alt="Gourmet burger and fries" class="w-100">

              <div class="badge">-10%</div>

              <button class="btn food-menu-btn">Order Now</button>
            </div>

            <div class="wrapper">
              <p class="category">Burgers</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Gourmet Burger</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price" value="15.00">£15.00</data>

              <del class="del">£25.00</del>

            </div>

          </div>
        </li>

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="nourish/templates/assets/images/pizza-3007395_1280.jpg" width="300" height="300"
                loading="lazy" alt="Large sliced pizza" class="w-100">

              <div class="badge">-25%</div>

              <button class="btn food-menu-btn">Order Now</button>
            </div>

            <div class="wrapper">
              <p class="category">Pizzas</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Meat Feast Pizzas</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price" value="19.00">£19.00</data>

              <del class="del">£39.00</del>

            </div>

          </div>
        </li>

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="nourish/templates/assets/images/pancakes-1984716_1280.jpg" width="300" height="300"
                loading="lazy" alt="Pancakes" class="w-100">

              <div class="badge">-20%</div>

              <button class="btn food-menu-btn">Order Now</button>
            </div>

            <div class="wrapper">
              <p class="category">Desserts</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Pancakes</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price" value="9.00 ">£9.00</data>

              <del class="del">£19.00</del>

            </div>

          </div>
        </li>

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="nourish/templates/assets/images/cocktail-3329414_1280.jpg" width="300" height="300"
                loading="lazy" alt="Cocktails" class="w-100">

              <div class="badge">-5%</div>

              <button class="btn food-menu-btn">Order Now</button>
            </div>

            <div class="wrapper">
              <p class="category">Drinks</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Fruity Cocktails</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price" value="10.00">£10.00</data>

              <del class="del">£25.00</del>

            </div>

          </div>
        </li>

        <li>
          <div class="food-menu-card">

            <div class="card-banner">
              <img src="nourish/templates/assets/images/pasta-1463934_1280.jpg" width="300" height="300"
                loading="lazy" alt="Cheesy Pasta" class="w-100">

              <div class="badge">-15%</div>

              <button class="btn food-menu-btn">Order Now</button>
            </div>

            <div class="wrapper">
              <p class="category">Pasta</p>

              <div class="rating-wrapper">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>

            <h3 class="h3 card-title">Cheesy Pasta</h3>

            <div class="price-wrapper">

              <p class="price-text">Price:</p>

              <data class="price" value="15.00">£15.00</data>

              <del class="del">£29.00</del>

            </div>

          </div>
        </li>

      </ul>
    {% endfor %}  

    </div>
</section>

{% endblock body %}