{% extends 'base.html' %}

<!-- Food Menu -->
<h2>Our Dishes</h2>

<ul class="nav nav-pills nav-fill">
 
  <li class="nav-item">
    <a class="nav-link" href="#">Pizzas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Drinks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Salads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Desserts</a>
  </li>
</ul>

<ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
  {% for category in categories %}
  <li class="nav-link" id="{{category}}-tab" data-toggle="pill" href="#{{category}}" role="tab"
    aria-controls="{{category}}" aria-selected="true">{{category}}</li>
  {% endfor %}

</ul>



<div class="tab-content" id="pills-tabcontent">

  {% for category in categories %}

  <div class="tab-pane fade show" id="{{category}}" role="tabpanel" aria-labelledby="{{category}}-tab">
    
    {% for meal in meal_list %}
        {% if meal.category == category  %}
            <div class="d-block d-md-flex menu-item">
              <div class="text order-1 mb-3">
                <h3><a href="{% url 'meals:meal_detail' meal.slug %}">{{meal.name}}</a></h3>
                <p>{{meal.description}}</p>
              </div>
              <div class="price order-2">
                <strong>£{{meal.price}}</strong>
              </div>
              <a href="#" class="btn btn-primary">Order Now</a>
            </div>
          </div> <!-- menu item-->
        {% endif %}
    {% endfor %}

  </div>



  <div class="card" style="width: 18rem;">
    <img src="nourish/templates/assets/images/pizza-3007395_1280.jpg" class="card-img-top" alt="Large sliced pizza">
    <div class="card-body">
      <h5 class="card-title">Pizzas</h5>
      <p class="card-text">Price: From £15:00</p>
      <a href="#" class="btn btn-primary">Order Now</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="nourish/templates/assets/images/pancakes-1984716_1280.jpg" class="card-img-top"
      alt="Pancakes topped with sugar and fruits">
    <div class="card-body">
      <h5 class="card-title">Desserts</h5>
      <p class="card-text">Price: From £8:00</p>
      <a href="#" class="btn btn-primary">Order Now</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="nourish/static/site_static/images/drinks-2578446_1280.jpg" class="card-img-top" alt="Group cheers drinks">
    <div class="card-body">
      <h5 class="card-title">Drinks</h5>
      <p class="card-text">Price: From £6:00</p>
      <a href="#" class="btn btn-primary">Order Now</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="nourish/templates/assets/images/salmon-518032_1280.jpg" class="card-img-top" alt="Salmon with salad">
    <div class="card-body">
      <h5 class="card-title">Salads</h5>
      <p class="card-text">Price: From £10</p>
      <a href="#" class="btn btn-primary">Order Now</a>
    </div>
  </div>
</div>