{% extends 'base.html' %}

{% block body %}
    <!-- Food Menu -->
    <h2>Our Dishes</h2>

    <!-- Iterate over categories -->
    <ul class="nav nav-pills nav-fill">
      {% for category in categories %}
      <li class="nav-item">
        <a class="nav-link" href="#{{ category.slug }}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content" id="pills-tabcontent">
      <!-- Iterate over categories -->
      {% for category in categories %}
      <div class="tab-pane fade show" id="{{ category.slug }}" role="tabpanel" aria-labelledby="{{ category.slug }}-tab">
        <!-- Iterate over items in the current category -->
        {% for item in category.items.all %}
        <div class="d-block d-md-flex menu-item">
          <div class="text order-1 mb-3">
            <h3><a href="{% url 'meals:meal_detail' item.slug %}">{{ item.name }}</a></h3>
            <p>{{ item.description }}</p>
          </div>
          <div class="price order-2">
            <strong>£{{ item.price }}</strong>
          </div>
          <a href="{% url 'reservation' %}" class="btn btn-primary">Book Now</a>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
{% endblock %}
