{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- About Section -->
    <section class="section section-divider gray about" id="about">
        <div class="container">

            <div class="about-banner">
                <img src="{% static 'images/about-banner.png' %}" width="509" height="459" loading="lazy"
                    alt="Burger with Drinks" class="w-100 about-img">
                <img src="{% static 'images/sale-shape-red.png' %}" width="216" height="226"
                    alt="get up to 50% off now" class="abs-img scale-up-anim">
            </div>

            <div class="about-content">

                <h2 class="h2 section-title">
                    Desserts, Burgers, and Best Pizzas
                    <span class="span">in Town!</span>
                </h2>

                <p class="section-text">
                    Welcome to Nourish Restaurant, where passion for food meets dedication to customer satisfaction. Our journey began with a simple idea: to create a dining experience that nourishes both body and soul. With a diverse menu featuring mouthwatering desserts, succulent burgers, and the finest pizzas, we strive to cater to every taste and preference. Our commitment to quality extends beyond the kitchen, as we prioritize using locally sourced, seasonal ingredients to ensure freshness and flavor in every bite. Whether you're joining us for a family dinner, a casual meal with friends, or a special celebration, we invite you to savor the flavors and embrace the warmth of Nourish Restaurant.
                </p>

                <ul class="about-list">

                    <li class="about-item">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="span">Delicious & Healthy Foods</span>
                    </li>

                    <li class="about-item">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="span">Specific Family And Kids Zone</span>
                    </li>

                    <li class="about-item">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="span">Music & Other Facilities</span>
                    </li>

                    <li class="about-item">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        <span class="span">Fastest Food Home Delivery</span>
                    </li>

                </ul>

                <button class="btn btn-hover">Order Now</button>

            </div>

        </div>
    </section>
{% endblock %}
