{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- About Section -->
    <section class="section section-divider gray about" id="about">
        <div class="container">

            <div class="about-banner">
                <img src="{% static 'static/images/about-banner.png' %}" width="509" height="459" loading="lazy"
                    alt="Burger with Drinks" class="w-100 about-img">
                <img src="{% static 'static/images/sale-shape-red.png' %}" width="216" height="226"
                    alt="get up to 50% off now" class="abs-img scale-up-anim">
            </div>

            <div class="about-content">

                <h2 class="h2 section-title">
                    Desserts, Burgers, and Best Pizzas
                    <span class="span">in Town!</span>
                </h2>

                <!-- Add your about content here -->

            </div>

        </div>
    </section>
{% endblock %}
