<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nourish. - Delight Your Senses, Feed Your Soul!</title>

    <!---favicon-->

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!---CSS-->

    <link rel="stylesheet" href="frontend/assets/style.css">
</head>

<body>
    <!-- Header-->
    <header class="header" data-header>
        <div class="container">
            <h1>
                <a href="#" class="logo">Nourish<span class="span">.</span></a>
            </h1>

            <nav class="navbar active" data-navbar>
                <ul class="navbar-list">

                    <li class="nav-item">
                        <a href="#home" class="navbar-link" data-nav-link>Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="navbar-link" data-nav-link>About Us</a>
                    </li>

                    <li class="nav-item">
                        <a href="#food-menu" class="navbar-link" data-nav-link>Meals</a>
                    </li>

                    <li class="nav-item">
                        <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="navbar-link" data-nav-link>Contact Us</a>
                    </li>

                </ul>
            </nav>

            <div class="header-btn-group">
                <button class="search-btn" aria-label="Search" data-search-btn>
                    <ion-icon name="search-outline"></ion-icon>
                </button>

                <button class="btn btn-hover">Reservation</button>

                <button class="nav-toggle-btn" aria-label="Toggle Menu" data-nav-toggle-btn>
                    <span class="line top"></span>
                    <span class="line middle"></span>
                    <span class="line bottom"></span>
                </button>
            </div>

        </div>
    </header>






    <!--JS link-->
    <script src="frontend/script.js"></script>

    <!-- ion-icon link-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>